# =========================

# Virtual Environment

# =========================

venv/
.venv/

# =========================

# Python Cache

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Environment Variables

# =========================

.env

# =========================

# Logs

# =========================

logs/history.log
*.log

# Keep logs folder in Git

!logs/.gitkeep

# =========================

# VS Code

# =========================

.vscode/

# =========================

# Reports

# =========================

reports/*.txt

# =========================

# Development / Testing Files

# =========================

find_spotify.py
test_action.py

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db
